@layout('layouts/general')
@set('title', 'About page')

@section('header')
  @super
@end

@section('main')
  <main>
    <div>
      <h1 class="title"> About page </h1>
      <p class="subtitle">
        This is a site.
      </p>
      <p>{{greeting}}</p>
    </div>
  </main>
@end
