@layout('layouts/body-only')
@set('title', 'shared board game')
@set('bodyClass', 'flex-column')


@section('scripts')
@entryPointStyles('board-game')
@entryPointScripts('board-game')
@end


@section('main')
<main class="full-height flex-column">
  <h1 class="title"> Board Game Page </h1>
  <aside>
    <div class="message-box"></div>
  </aside>
  <article id="app-container" class="full-height">
    App goes here
  </article>
</main>
@end

