<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online card tables - board game</title>
  @entryPointStyles('board-game-private')
  @entryPointScripts('board-game-private')
</head>

<body class="flex-column">

  <main class="full-height flex-column">
    <h1 class="title"> Private Board Game Page </h1>
    <article id="app-container" class="full-height">
      App goes here
    </article>
  </main>

</body>

</html>
