@layout('layouts/body-only')
@set('title', 'Private board game')
@set('bodyClass', 'flex-column')


@section('scripts')
@entryPointStyles('board-game-private')
@entryPointScripts('board-game-private')
@end


@section('main')
<main id="app-container" class="full-height flex-column">
  App goes here
</main>
@end
