@layout('layouts/body-only')
@set('title', 'shared board game')
@set('bodyClass', 'flex-column')


@section('scripts')
@entryPointStyles('board-game')
@entryPointScripts('board-game')
@end


@section('main')
<main id="app-container" class="full-height flex-column"></main>
@end
