@layout('layouts/body-only')
@set('title', 'Private Card Table')
@set('bodyClass', 'flex-column')


@section('scripts')
@entryPointStyles('private-card-table')
@entryPointScripts('private-card-table')
@end


@section('main')
<main class="full-height flex-column">
  <h1 class="title"> Private card table </h1>
  <article id="table" class="full-height table"></article>
  <br />
</main>
@end
