<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Private card table</title>
  @entryPointStyles('private-card-table')
  @entryPointScripts('private-card-table')
</head>

<body class="flex-column">

  <main class="full-height flex-column">
      <h1 class="title"> Private card table </h1>
      <article id="table" class="full-height table"></article>
      <br/>
  </main>

</body>

</html>
