@layout('layouts/general')
@set('title', 'create shared room')

@section('main')

  <main>
    <div>
      <h1 class="title"> create shared room </h1>

      <h2>Result</h2>

      @if(success)
      <p> Room created </p>
      <p>{{room.name}} , {{room.type}}</p>
      <a href="{{room.path}}">go to room</a>
      @else
      <p> Room creation failed </p>
      @end

    </div>

  </main>
@end
