<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online card tables - create shared table</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>

  <main>
    <div>
      <h1 class="title"> create shared room </h1>

      <h2>Result</h2>

      @if(success)
      <p> Room created </p>
      @else
      <p> Room creation failed </p>
      @end

    </div>

  </main>

</body>

</html>
