<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shared card table</title>
  @entryPointStyles('shared-card-table')
  @entryPointScripts('shared-card-table')
</head>

<body>

  <main>
    <div>
      <h1 class="title"> Shared card table: : {{roomName}} </h1>

      <main class="full-height flex-column">
        <button id="newDeck">new deck</button>
        <aside>
          <div class="messageBox"></div>
          <div class="playerList"></div>
        </aside>
        <article id="table" class="full-height table table--outlined"></article>
      </main>

    </div>

  </main>

</body>

</html>
