<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online card tables - home</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>

  <main>
    <div>
      <h1 class="title"> Online cards and board games </h1>

      <h2>Card Table</h2>
      <ul>
        <li> <a href="/card-table/private">private card table</a> </li>
        @each(room in cardRooms)
        <li> <a href="/card-table/shared/{{room.name}}"> {{room.name}} : {{room.playerCount}} players</a> </li>
        @end
      </ul>
      <h2>Tabula</h2>
      <ul>
        <li> <a href="/tabula/private">private Tabula</a> </li>
        @each(room in tabulaRooms)
        <li> <a href="/tabula/shared/{{room.name}}"> {{room.name}} : {{room.playerCount}} players</a> </li>
        @end
      </ul>
    </div>

    <div>
      <a href="/create-room">create new room</a>
    </div>
  </main>

</body>

</html>
