<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online card tables - home</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>

  <main>
    <div>
      <h1 class="title"> Online card table </h1>
      <ul>
        <li>
          <a href="/private-table">private table</a>
        </li>
        <li>
          <a href="/shared-table">shared table</a>
        </li>
        <li>
          <a href="/board-game">board game</a>
        </li>
      </ul>

      <h2>Rooms</h2>
      <ul>
        @each(room in rooms)
        <li> <a href="/shared-table/{{room.name}}"> {{room.name }} : {{room.playerCount}} players</a> </li>
        @end
      </ul>
    </div>

  </main>

</body>

</html>
