@import './pageStyle';
@import './layout';

@mixin columnWidth {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-position: inside;
}

body>header {
  >div {
    @include columnWidth();
  }

  padding-bottom: 5px;
  padding-top: 5px;
}

body>main {
  @include columnWidth();
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

body>footer {
  >div {
    @include columnWidth();
  }
}
