.messageBox {

  height: 10rem;
  overflow-y: scroll;
  background-color: beige;

  p {
    margin: 0 0 .5em;
  }

  b {
    background-color: black;
    color: whitesmoke;
    min-width: 6rem;
  }
}
