<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  @section('scripts')
  @entryPointStyles('app')
  @entryPointScripts('app')
  @end
</head>

<header>
  <div>
    @section('header')
    @include('partials/header-content')
    @end
  </div>
</header>

<body {{bodyClass ? `class=${bodyClass}` : 'class=flex-column'}}>
  @!section('main')
</body>

<footer>
  <div>
    @section('footer')
    @include('partials/footer-content')
    @end
  </div>
</footer>

</html>
